.custom-swiper-pagination {
  text-align: center;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  background-color: #a855f7;
  opacity: 0.5;
  margin: 0 6px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #7e22ce;
  transform: scale(1.2);
}
